/** Purchase Order CSS***/

.products_wrap {
	background-color: #EAEFF4;
	border: 1px solid #d5d5d5;
}

.product-row {
	border-bottom: 1px solid #a6a6a6;
	margin-bottom: 12px;
}

.PO_wrap {
    background-color: #EAEFF4;
	border: 1px solid #d5d5d5;
}
.add_btn_wrap {
    vertical-align: bottom;
}

.btn-plus {
	width: 50px;
	padding: 18px;
	height: 45px;
}

.form_wrap {
	font-size: 12px;
}

.form_wrap .row div {
	padding: 0 2px !important;
}

.form_wrap .form-control, .form-select {
	font-size: 12px !important;
	font-weight: 500 !important;
	background-color: #fff !important;
}

.form-label {
	margin-bottom: 0.5rem;
	font-weight: 600;
	color: #2A3547;
	font-size: 13px;
}

.info-box {
	border: 1px solid #d7d7d7;
	padding: 20px 15px;
}

.invalid-feedback {
	display: block;
}

.remark ol {
	font-weight: bold;
}

/** End of Purchase Order CSS ***/
