/** Purchase Order CSS***/

.products_wrap {
	background-color: #eef8fd;
	border-radius: 9px;
	border: 1px solid #c6c6c6;
}

.PO_wrap {
    background-color: #eef8fd;
	border-radius: 9px;
	border: 1px solid #c6c6c6;
}
.add_btn_wrap {
    vertical-align: bottom;
}

.btn-plus {
	width: 50px;
	padding: 18px;
	height: 45px;
}

/** End of Purchase Order CSS ***/
